#page {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    
}
html{
    background-color: rgb(245, 245, 173);;
    
}
#container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    background-color: rgb(223, 255, 214);
    margin: auto;
    align-items: flex-start;
    border: 5px solid red;
}
button {
    margin: 3% auto 7% auto;
    height: 40px;
    background-color: rgb(223, 255, 214);
    border: 3px solid red;
    border-radius: 70%;
    color: rgb(240, 32, 32);
    font-size: large;
    font-weight: 900;
}
button:hover {
    background-color: rgba(131, 202, 163, 0.644);
}
.cell {
    width: 20px;
    height: 20px;
}
h1 {
    margin: auto;
    color: red;
    font-size: 70px;
}